<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-title>Inicio</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content color="primary">
        <ion-card *ngFor="let task of tasks">
            <ion-card-header>
                <center>
                    <ion-card-subtitle color="secundary">{{task.id}}</ion-card-subtitle>
                </center>
                <ion-card-title>{{task.title}}</ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
                Keep close to Nature's heart... and break clear away, once in awhile,
                and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
        </ion-card>
    
    </ion-content>
</ion-app>
